<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/></title>
    <link type="text/css" href="/static/style/main.css" th:href="@{/style/main.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="form-input-box">
    <form class="form-input" th:method="PATCH" th:action="@{/{id}(id=${note.getNoteId()})}" th:object="${note}">
        <label class="form-input-text" for="text">Содержание заметки: </label>
        <textarea type="text" th:field="*{noteText}" id="text"></textarea>
        <br/>
        <div class="btn-group">
            <input class="btn" type="reset" value="Очистить введённое">
            <button class="btn">Сохранить изменения</button>
        </div>
    </form>
</div>

</body>